<div ng-controller="AlbumListCtrl">
    <table>
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Fecha de Publicación</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="album in albums">
            <td>[[ album.title ]]</td>
            <td>[[ album.published ]]</td>
            <td>
                <a href="#">edit</a>
                <a href="#">delete</a>
            </td>
        </tr>
        </thead>
    </table>
</div>